<form [formGroup]="form">
  <label for="">JWT:</label>
  <select name="" id="">
    <option value="">Basico</option>
    <option value="">Completo</option>
  </select>

  <label for="">Ambiente:</label>
  <select [formControlName]="'env'">
    <option value="local">local</option>
    <option value="dev">dev</option>
    <option value="qa">qa</option>
    <option value="pdn">pdn</option>
  </select>

  <json-editor
    [options]="editorOptions"
    [data]="initialData"
    (change)="showJson($event)"
  ></json-editor>

  <textarea
    placeholder="Private Key"
    name="private-key"
    cols="40"
    rows="20"
    [formControlName]="'privateKey'"
  ></textarea>

  <button (click)="generateJwt()">Navegar</button>
</form>
